.hover-zoom {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.hover-zoom:hover {
  transform: scale(2);
  z-index: 2;
}


.hover-zoom_small {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.hover-zoom_small:hover {
  transform: scale(1.2);
  z-index: 2;
}



/* Dropdown Button */
.dropbtn {
  background-color: white;
  border: 2px solid white;
  color: black;
  padding: 4px;
  font-size: 25px;
  text-align: left;
  cursor: pointer;
  border-radius: 8px; 
}


#menu-bar {
  display: flex;
  gap: 30px; /* space between dropdowns */
  align-items: center;
  padding-bottom: 20px;
}

.menu-title {
  font-size: 28px;
  margin-bottom: 3px; /* smaller space below this heading only */
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  /*background-color: #98eff9;*/
  color: #00035b;
  text-decoration: underline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 500px;
  max-height: 400px; /* Limit height */
  overflow-y: auto;  /* Add vertical scrollbar */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



h1 a.black-link {
  color: black !important;
  text-decoration: none !important;
  font-weight: inherit; /* keep heading boldness */
}

h1 a.black-link:hover {
  text-decoration: underline !important;
}



.plot-wrapper {
  border: 2px solid #ccc;      /* light gray frame */
  border-radius: 8px;          /* rounded corners */
  padding: 10px;               /* space between border and plot */
  background: #fff;            /* optional background */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* subtle drop-shadow */
  display: inline-block;       /* shrink-wrap to plot width */
  flex: 0 0 70%;  /* fixed 60% width */
  box-sizing: border-box;
}


#plot {
  width: 100%;
  aspect-ratio: 1.5 / 1;  /* width:height = 2:1, so height = 50% width */
}

.pitch_info_wrapper {
  border: 2px solid #ccc;      /* light gray frame */
  border-radius: 8px;          /* rounded corners */
  padding-left: 15px;   
  padding-right: 15px;               /* space between border and plot */
  background: #fff;            /* optional background */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* subtle drop-shadow */
  display: inline-block;       /* shrink-wrap to plot width */
  flex: 0 0 30%;  /* don’t grow/shrink, fixed 40% width */
  box-sizing: border-box; /* include padding/border in width */
}


.pitch-viz-container {
  display: flex;
  gap: 20px;  /* spacing between the two boxes */
  align-items: flex-start; /* align them at top */
}




/* Slider */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  border-radius: 5px;  
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 70%; 
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  border-radius: 70%;
  cursor: pointer; /* Cursor on hover */
}


img.prof-pic {
  float: left;
  margin-right: 1em;
  width: 25%;
  border-radius: 50%;
}
