.hover-zoom {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.hover-zoom:hover {
  transform: scale(2);
  z-index: 2;
}


.hover-zoom_small {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.hover-zoom_small:hover {
  transform: scale(1.2);
  z-index: 2;
}



