---
layout: wide
---

<html>


{%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

{{ content }}

<body >
  <script src="../assets/js/papaparse.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>

  <h2 class="menu-title">Top Pitches by:</h2>
  <div id="menu-bar"></div>

  <!-- <script src="../assets/js/slider.js"></script> -->
  <script src="../assets/js/ode.js"></script>
  <script src="../assets/js/plotter.js"></script>
  <script src="../assets/js/pitch_graphic.js"></script>
  <script src="../assets/js/traj.js"></script>


<!-- 
  <div class="dropdown">
    <button onclick="toggleDropdown('z')" class="dropbtn">
      Top Pitches by Induced Vertical Break  <img src="../assets/images/down.png" alt="▼" style="width:20px; height:20px; vertical-align:middle;padding-bottom:4px;">
    </button>
    <div id="myDropdown_z" class="dropdown-content"></div>
  </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="dropdown">
    <button onclick="toggleDropdown('x')" class="dropbtn">
    Top Pitches by Horizontal Break  <img src="../assets/images/down.png" alt="▼" style="width:20px; height:20px; vertical-align:middle;padding-bottom:4px;">
  </button>
    <div id="myDropdown_x" class="dropdown-content"></div>
  </div>
 -->

  

  <p id="dateDisplay" style="font-size:14px; padding-left: 8px;"></p>


<!-- <div class="pitch_info_wrapper">

  <div id="output" style="margin-top: 5px;"></div>
</div>

<br/><br/>

<div class="plot-wrapper">
  <div id="plot"></div>
</div> -->

<!-- <br/>
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>
<br/>
<p>Value: <span id="demo"></span></p> -->


<div class="pitch-viz-container">
  <div class="pitch_info_wrapper">
    <div id="output" style="margin-top: 5px;"></div>
  </div>

  <div class="plot-wrapper">
    <div id="plot"></div>
  </div>
</div>



</body>
</html>
