---
layout: wide
---



<div class="header-row">

  <h1 class="page-heading">{{ page.title }}</h1>

  <a href="{{ site.baseurl }}{% link pitch_graphic.md %}">
      <button class="pitch-btn">Pitch Visualizer</button>
  </a>
</div>
{{ content }}

  <script src="../assets/js/papaparse.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>

  <script src="https://cdn.babylonjs.com/babylon.js"></script>
  <script src="../assets/js/babylon/babylon.grassProceduralTexture.js"></script>
  <script src="../assets/js/babylon/babylon.roadProceduralTexture.js"></script>
  <script src="../assets/js/babylon/earcut.min.js"></script>

    




  <h2 class="menu-title">Top Pitches by:</h2>
  <div id="menu-bar"></div>

  <p id="dateDisplay" style="font-size:14px; padding-left: 8px;margin-top: -15px"></p>




  <script src="../assets/js/ode.js"></script>
  <script src="../assets/js/plotter.js"></script>
  <script src="../assets/js/traj.js"></script>





<div class="pitch-viz-wrapper">
  <!-- Top info panel -->
  <div class="pitch-info-top">
      <div id="output"></div>
    </div>

   <div class="sliders-panel">
    <div class="slider-wrapper">
      <p class="slide-title"><strong>Spin Rate:</strong></p>
      <div class="slidecontainer">
        <input type="range" min="0" max="5000" class="slider" id="spin_rate">
      </div>
      <p id="spin_rate_value" class="slide-text"></p>
    </div>

    <div class="slider-wrapper">
      <p class="slide-title"><strong>Spin Axis:</strong></p>
      <div class="slidecontainer">
        <input type="range" min="0" max="360" class="slider" step=".1" id="spin_axis">
      </div>
      <p id="spin_axis_value" class="slide-text"></p>
    </div>

    <div class="slider-wrapper">
      <p class="slide-title"><strong>Spin Efficiency:</strong></p>
      <div class="slidecontainer">
        <input type="range" min="10" max="100" class="slider" step="1" id="efficiency">
      </div>
      <p id="efficiency_value" class="slide-text"></p>
    </div>
  </div>


  <!-- Main viz row -->
  <div class="pitch-viz-container">
    <div class="left-column">
      <div class="pitch_info_wrapper">
        <div id="dynamic-output"></div>
      </div>

        <div class="spin-axis-wrapper">
         <!-- <div id="spin_axis_plot"></div> -->
          <div class="spin-axis-title">Spin Axis (Catcher POV)</div>
         <canvas id="spin_axis_plot"></canvas>
      </div>

      
    </div>



    <div class="plot-wrapper">
      <!-- <div id="plot"></div> -->
      <canvas id="plot"></canvas>
       <div class="plot-legend">
        <div><span style="color:black;">●</span> Edited Pitch</div>
        <div><span style="color:rgba(0, 0, 0, 0.33);">●</span> Original Pitch</div>
        </div>
        <button id="cameraButtonId" class="camera-button">Reposition Camera</button>
    </div>


  </div>
</div>



<!-- <div class="pitch-viz-container">
  <div class="left-column">
  <div class="pitch_info_wrapper">
    <div id="output" style="margin-top: 5px;"></div>
  </div>

  <div class="bottom-plot-wrapper">
      
       <div id="spin_axis"></div>
  </div>
  </div>

  <div class="plot-wrapper">
    <div id="plot"></div>
  </div>
</div> -->

 <script src="../assets/js/spin_axis_v2.js"></script>
 <!-- <script src="../assets/js/spin_axis_v2.js"></script> -->
  <script src="../assets/js/pitch_editor.js"></script>

  <script src="{{ '/assets/js/jquery-3.7.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/slick/slick.min.js' | relative_url }}"></script>


