---
layout: wide
---

<html>

<div class="header-row">

  <h1 class="page-heading">{{ page.title }}</h1>

  <a href="{{ site.baseurl }}{% link pitch_editor.md %}">
      <button class="pitch-btn">Pitch Editor</button>
  </a>

</div>
{{ content }}

<body >
  <script src="../assets/js/papaparse.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>

  <h2 class="menu-title">Top Pitches by:</h2>
  <div id="menu-bar"></div>

  <!-- <script src="../assets/js/slider.js"></script> -->
  <script src="../assets/js/ode.js"></script>
  <script src="../assets/js/plotter.js"></script>
  <script src="../assets/js/pitch_graphic.js"></script>
  <script src="../assets/js/traj.js"></script>


  

  <p id="dateDisplay" style="font-size:14px; padding-left: 8px;"></p>



<div class="pitch-viz-container">
  <div class="pitch_info_wrapper">
    <div id="output" style="margin-top: 5px;"></div>
  </div>

  <div class="plot-wrapper">
    <div id="plot"></div>
  </div>
</div>



</body>
</html>
